@media(max-width:991px){
    .main-categoria .picture{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    display: flex;
    flex-direction: column; 
    }
    .main-historia{
    display: flex;
    flex-direction: column; 
    }
}  
@media(max-width:768px){
    .tamaño-video{
    width: 100px;
    height: 100px;
    }   
    .video{
    display: flex;
    justify-content: center;
    }
            
}