/* CSS INDEX*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-principal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 70px 100px 500px 1fr 1fr;
    grid-template-areas: "nav     nav    nav    nav"
                        "header header header header"
                        "main    main   main   main" 
                        "aside   aside  aside  aside"
                        "footer footer footer footer";
                        

    background-image: linear-gradient(white, rgb(3, 58, 131));
}

.icono{
    width: 200px;
    height: 100px;
  
}


.navbar-nav{
    grid-area: nav;
    width:100%;
    display: flex;
   justify-content: flex-end;
    background-color: white rgb(3, 58, 131);
 
}



.navbar > ul{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
}

.navbar ul li{
    position: relative;
    list-style: none;
    display: block;
    color: rgb(7, 44, 165);
    font-size: 25px;
    padding: 10px;

}
.navbar ul li a{
    color: rgb(3, 58, 131);
   
}


.navbar ul li:hover ul li{
    display: block;
    transform: 0.5s;
}

.navbar li:hover{
    display: block;
    transition:1s;
    border-radius: 20%;  
}

.header-index{
    grid-area: header;
    padding: 20px;

}
.header-index h3{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);  
}

.mainIndex{
    grid-area: main;
    gap: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
  
}

.slider{
    height: 500px;
    width: 500px;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
   
}

.slider li{
    width: 100%;
    list-style: none;
   
}

.slider img{
    width: 100%;
    object-fit: cover;

}

@keyframes cambio {
    0% {margin-left: 0; }
    20% {margin-left: 0; }

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.aside-index{

    grid-area: aside;
    margin-top: 10px;
    width:100vw;


}
.aside-index button{
    animation: animacion 2s linear infinite;
}


.footer-index{
    grid-area: footer;
    margin-top: 10px;
    width:100%;
}




@media(max-width:991px){
    .container-fluid{
    display: flex;
    }

    .icono {
     position:absolute;
    margin: 70vw;
    }
    .container-fluid{
        display: flex;

    }

    
    .aside-index .barra{
        width: 10vw;
        height: 100vh;
    }

    .aside-index.pie .boton-foot {
     margin-left:40vw;
    }
    .pie p{
      font-size: 20px;
    }

    .dropdown-menu{
    background-color:white;
    width: 30vw;
    }  
  
}


@media(max-width:765px){
    .pie > p{
      font-size: 18px;
    }
  
}

@media(max-width:650px){
  
    .pie > p{
      font-size: 16px;
      margin-top: 2px;
    }
  
}

@media(max-width:580px){
  
    .pie > p{
      font-size: 14px;
      margin-top: 2px;
    }
  
}
@media(max-width:510px){
  
    .pie > p{
      font-size: 13px;
      margin-top: 2px;
    }

    .copyright{
        font-size: 13px;
    }
  
}
@media(max-width:470px){
  
    .pie > p{
      font-size: 12px;
      margin-top: 2px;
    }

    .copyright{
        font-size: 12px;
    }
  
}
@media(max-width:440px){
  
    .pie > p{
      font-size: 11px;
      margin-top: 2px;
    }

    .copyright{
        font-size: 11px;
      
    }
    .header-index h3{
    font-size: 20px;
  }
}

@media(max-width:400px){
  
    .pie > p{
      font-size: 10px;
      margin-top: 2px;
    }

    .copyright{
        font-size: 10px;
      
    }
    .header-index h3{
    font-size: 20px;
  }
}
@media(max-width:360px){
  
    .pie > p{
      font-size: 9px;
     
    }

    .copyright{
        font-size: 9px;
      
    }
    .header-index h3{
    font-size: 20px;
  }
  .header-index h3{
    font-size: 15px;
  }
}





@keyframes animacion {
    0% {
      box-shadow: 0 0 0 0 rgba(52, 55, 56, 0.6),  0 0 0 0 rgba(52, 55, 56, 0.6);
    }
  
    30% {
      box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 0 rgba(52, 55, 56, 0.6);
    }
  
    65% {
      box-shadow: 0 0 0 100px rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 30px rgba(29, 171, 209, 0);
    } 
}


/* CSS CATEGORIAS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-categoria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px 80px 450px 80px 80px;
   
}

nav{
    grid-column: 1/5;
    grid-row: 1/2;

}
header{
    grid-column: 1/5;
    grid-row: 2/3;
}
main{
    grid-column: 1/5;
    grid-row: 3/4;
}
aside{
    grid-column: 1/5;
    grid-row: 4/5;
}
footer{
    grid-column: 1/5;
    grid-row: 5/6;
}
.header-categoria h3{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
}

.lista-categoria{
    display: flex;
    list-style: none;
    background-color: skyblue;
    height: 80px;
    align-items: center;
    justify-content:space-between

}

.icono2 {
    width: 200px;
    height: 80px;

}

.navbar2{
    display: flex;
    background-color: skyblue;
    justify-content:space-between
}

.navbar2 li a{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    list-style: none;
    margin-right: 10px;
}

.navbar2 li:hover{
    height: 50px;
    display: block;
    background-color: rgb(200, 212, 31);
    transition:1s;
    border-radius: 20%;
}

.header-categoria{
    padding: 20px;
}


.picture{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 10px 10px 10px 30px;
}

.picture img{
    object-fit: cover;
    justify-items: center;
   
}

.picture img:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
   
}
.picture img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
   
}
.picture img:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
   
}


.botones{
    height: 100px;
    width: 110px;
    right: 80px;
    padding: 5px;
    object-fit: cover;
}

.btn{
    height: 30px;
    width: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    margin: 5px;
    margin-left: 15px;
    object-fit: cover;

}
.btn2{
   height: 50px;
   width: 100px;
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
   background-color: rgb(3, 58, 131);
   object-fit: cover;

}

.aside-categoria{
    margin-top: 10px;
    object-fit: cover;
    display: flex;
}

.footer-categoria{
    margin-top: 10px;
    display: flex;
}


/* CSS LANZAMIENTOS*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icono3{
    width: 200px;
    height: 100px;
    margin-right: 500px;
}

.lanzamiento{
    display:flex;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: underline;

}


.img3{
    width: max-content;
    height: max-content;
}

.imagenes3{
    display: flex;
    height: 350px;
    width: 1300px;
}

.slider3{
    height: 400px;
    width: 950px;
    margin: auto;
    overflow: hidden;
    margin: 60px;
}

.slider3 ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider3 li{
    width: 100%;
    list-style: none;
}

.slider3 img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0; }
    20% {margin-left: 0; }

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.btn3{
    margin-top: 20px;
    height: 100px;
    width: 200px;
    margin-left: 60px;
    
}
.btn4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color:  rgb(3, 58, 131);
    font-size: 25px;
    border-radius: 20px;
}
.navbar ul li ul li{
    display: none;
}

.navbar ul li:hover ul li{
    display: block;
    transform: 0.5s;
}
  

/* CSS NUESTRA HISTORIA*/


.container{
    display: flex;
    height: 100px;
    width: 1000px;
}


.historia{
    display:flex;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    justify-content: center;
    margin-bottom: 20px;
}

.texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    font-size: 20px;
    display: block;
    flex-direction: column;   
}

.video{
    display: flex;
    height: 350px;
    width: 350px;
}
.pieHistory{
    margin-top: 400px;
    width: 1300px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 20px;
    display: flex;
}

.copyrightHistory{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* CSS CONTACTOS*/

.listas{
    height:max-content;
    width: max-content;
    
 
}
.lista{
    display: flex;
    flex-direction: column;
    height:200px;
    width: 250px;
    padding :5px 0px 0px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
   
}

.aside{
    display: flex;
    width: 100px;
    height: 100px;
}

.aside-uno{
    display: flex;
    height:50px;
    width: 200px;
    padding-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    font-size: 25px;
    text-decoration: underline;
}

.ico{
    display: flex;
}

.ico img{
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.telefono{
    padding-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
}

.p .locales{
    display: flex;
    width: 200px;
    height: 200px;
}

.ubicacion{
    display: flex;
    width:150px;
    height:100px;
}
.locales{
    margin-left: 1000px;
    display: flex;
    height:50px;
    width:1510px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(3, 58, 131);
    font-size: 25px;
    text-decoration: underline;   
}

.map{
    margin-top: 50px;
    margin-left:-500px;
}

.iconos-pie{
    padding: 20px;
    display: flex;
    width: 500px;
    height: 100px;
}

.cuerpo{
    height: 750px;

}

.foot{
    display:flex;
}
.pie{
    display:flex;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 20px;
    width:100%;
    justify-content: space-between;
}

.boton-foot{
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    background-color: white;
    font-size: 20px;
    height: 30px;
    width: 150px;  
   
}

.registro{
    background-color: white;
    margin-left: 10px;
    width: 130px;
    height: 35px;
    color:black;
    border-color: black;
    margin-top: 2px;
    margin-left: 150px;
}

.copyright{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
justify-content: space-between;
width:100%;
color: darkgoldenrod;
}


